{
  "extends": [
    "@favware/eslint-config"
  ],
  "parserOptions": {
    "createDefaultProgram": true,
  },
  "rules": {
    "new-cap": [
      "error",
      {
        "capIsNewExceptionPattern": "^[A-Z][a-z]+(?:[A-Z][a-z]+)*$"
      }
    ]
  }
}