# Node modules need to be installed through yarn
node_modules/

# Environment variables
.env

# Any logs created
*.log
*.stackdump

# Data folders
src/data/databases/*

# Folder keep
!**/*.gitkeep

# IDE settings
.idea/
.vscode/

# My own stuff
src/commands/owner/test.ts
src/commands/leaderboards/overwatch.ts

# Stuff that doesn't need to be on NPM
.github/
.git/
docs/
test/
yarn.lock