# Node modules need to be installed through yarn
node_modules/

# Environment variables
.env

# Any logs created
*.log
*.stackdump

# Data folders
src/data/databases/*

# Folder keep
!**/*.gitkeep

# VSCode settings
.vscode/

# My own stuff
src/commands/owner/test.js

# Stuff that doesn't need to be on NPM
.circleci/
.github/
.git/
docs/
test/
yarn.lock