# Node modules need to be installed through yarn
node_modules/

# Environment variables
.env

# Any logs created
*.log
*.stackdump

# Data folders
dist/data/databases/*

# Folder keep
!**/*.gitkeep

# IDE settings
.idea/
.vscode/

# Stuff that doesn't need to be on NPM
.github/
.git/
docs/
src/
test/
yarn.lock
.gitignore